/* Main image and text */
#main-img-outer{
    max-height: 500px;
    height: 50vw;
    position: relative;
    margin: 15px 0;
}

#main-img{
    height: 50vw;
    width: 100%;
    max-height: 500px;
    z-index: -1;
    border:1px solid rgba(255, 0, 0, 0.3);
    border-radius: 4px;
    box-sizing: border-box;
}

#main-text-container{
    width: 100%;
    bottom: 0px;
}

#main-text{
    background-color: rgba(255, 255, 255, .5);
    position:absolute;
    letter-spacing: 4px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 100%;
    bottom: 0;
    padding: 5px 10px;
    text-align: center;
    margin: 10px 5px 10px 5px;
}

#main-text span{
    color: red;
}

/* News */
#news-container{
    display:flex;
    flex-direction: column;
    border-top: 1px solid #f00;
    padding: 10px;
}

.news{
    display: flex;
    align-items: center;
    margin-top: 10px;
    padding: 0 5px 0 5px;
}

.news-text{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.news-img{
    width: 60%;
    height: 100%;
    max-height: 196px;
    max-width: 342px;
    margin-right: 5px;
    border-radius: 4px;
    border:1px solid rgba(255, 0, 0, 0.3);
}

blockquote{
    display: none;
}

/* Upcoming videos */
#videos-container{
    display:flex;
    flex-direction: column;
    border-top: 1px solid #f00;
    border-bottom: 1px solid #f00;
    padding: 10px;
}

.video{
    margin-top: 10px;
    width: 100%;
    height: 50vh;
    border:1px solid rgba(255, 0, 0, 0.3);
    border-radius: 4px;
}

/* Small devices (landscape phones, 576px and up) */
@media screen and (min-width: 576px){
     /* Main image and text */
     #main-text{
        font-size: 150%;
    }

    /*News*/
    blockquote{
        display: block;
        text-align: justify;
        margin-top: 10px;
        text-indent: 0.45em;
    }

    blockquote a{
        color: #0000ab;
        font-style: italic;
    }

    blockquote p::before {
        content: '\201C';
        font-size: 2em;
        color:rgba(255, 0, 0, 0.5);
        vertical-align: -0.2em;
    }
    
    blockquote p::after {
        content: '\201D';
        font-size: 2em;
        color:rgba(255, 0, 0, 0.5);
        line-height: .8em;
        vertical-align: -0.2em;

    }

    /*News*/
    .news-text{
        margin: 0 5px 0 15px;
    }

    /* Upcoming video */
    #videos-container{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    #videos-container>div{
        width: 100%;
    }

    #videos-container>div:first-of-type{
        margin-right: 10px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width:768px) {
   /* Main image and text */
   #main-text{
    font-size: 200%;
    }
}

/* Large devices (desktops, 992px and up) */
@media screen and (min-width:992px){
    /* News */
    #news-container{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
} 