/* Reviews */
.review{
    display: flex;
    height: 100%;
    max-height: 250px;
    margin: 25px 0 25px 0;
    align-items: center;
}

.review:first-of-type{
    border-top: 1px solid #f00;
    margin-top: 15px;
    padding-top: 10px;
}

.review:last-of-type{
    border-bottom: 1px solid #f00;
    padding-bottom: 10px;
}

.review-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.review-img{
    width: 50%;
    height: 100%;
    margin: 5px;
    border-radius: 4px;
    max-width: 385px;
    max-height: 220px;
    border:1px solid rgba(255, 0, 0, 0.3);
}

.score_container{
    display: none;
}

blockquote{
    display: none;
}

.yt-button {
	box-shadow: 3px 4px 0px 0px #4f3d3d;
	background:linear-gradient(to bottom, #ff7a7a 5%, #e33939 100%);
	background-color:#ff7a7a;
	border-radius:5px;
	border:1px solid #c23434;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:1em;
	font-weight:bold;
	margin-top:5px;
	text-decoration:none;
	text-shadow:0px 1px 0px #cc5454;
    width: 140px;
}

.yt-button:hover {
	background:linear-gradient(to bottom, #e33939 5%, #ff7a7a 100%);
	background-color:#e33939;
}
.yt-button:active {
	position:relative;
	top:1px;
}

.yt-button a{
    text-decoration: none;
}

.mobile{
    font-size: 0.85em;
    padding-top: 2px;
    color: #4f43f7;
}

.mobile:hover{
    color:red;
}
/* TABLET (from 600 to 768px) */
@media screen and (min-width: 600px){
    .review{
       padding: 0 10px;
    }
    
    blockquote{
        display: block;
        text-align: justify;
        margin-top: 10px;
        text-indent: 0.45em;
    }

    blockquote a{
        color: #4f43f7;
    }

    blockquote a:hover{
        color: red;
    }

    blockquote p::before {
        content: '\201C';
        font-size: 2.5em;
        color:rgba(255, 0, 0, 0.5);
        vertical-align: -0.4em;
    }
    
    blockquote p::after {
        content: '\201D';
        font-size: 2.5em;
        color:rgba(255, 0, 0, 0.5);
        line-height: .8em;
        vertical-align: -0.4em;
    }

    .mobile{
        display:none;
    }
}

/*DESKTOP (from 1440px) */
@media screen and (min-width:1440px) {
    .review-text{
        width: 60%;
    }
    
    .score_container{
        display: block;
        margin: -5px 50px 50px 50px;
        text-align: center;
    }

    .score-label{
        padding-bottom: 40px;
        font-size: 1em;
    }

    .score_num{
        font-size: 3em;
        padding-top: 5px;
    }

    .score_text{
        margin-top:45px;
        font-size: 1.5em;
    }

    #hexagon {
        width: 100px;
        height: 57.735px;
        background: rgba(255, 0, 0, 0.5);
        position: relative;
        z-index: -1;
      }

      #hexagon::before {
        content: "";
        position: absolute;
        top: -28.8675px;
        left: 0;
        width: 0;
        height: 0;
        border-left: 50px solid transparent;
        border-right: 50px solid transparent;
        border-bottom: 28.8675px solid rgba(255, 0, 0, 0.5);
      }

      #hexagon::after {
        content: "";
        position: absolute;
        bottom: -28.8675px;
        left: 0;
        width: 0;
        height: 0;
        border-left: 50px solid transparent;
        border-right: 50px solid transparent;
        border-top: 28.8675px solid rgba(255, 0, 0, 0.5);
      }
}