@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins&display=swap');

/* SMARTPHONE (from 320px to 599px wide)*/
body{
    font-family: 'Open Sans', sans-serif;
    background-color: #000000;
    color: #fff;;
}

.max-width{
    max-width: 1440px;
    margin: 0 auto;
}

.subtitle{
    font-size: 25px;
    font-family: Poppins, sans-serif;
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 5px 0 0 5px;
}

.name{
    text-decoration: none;
    color: #fff;
    text-transform: capitalize;
    font-weight: bold;
    text-align: left;
    font-size: 1em;
    line-height: 130%;
}

.name:hover{
    color:#f00
}

.info{
    font-size: 0.7em;
    line-height: 130%;
    margin-top: 5px;
}

.author{
    font-weight: bold;
}

.month{
    font-size: 100%;
    font-weight: bold;
    margin: 5px 0 10px 0;
    text-decoration: underline;
}

/* header */
#logo>span{
    color: #ff0000;
}

#logo{
    font-size: 400%;
    text-align: center;
    padding-top: 30px;
    margin-bottom: 15px;
    
}

header a{
    text-decoration: none;
}

header{
    height: 150px;
   
}

h1{
    font-family: Poppins, sans-serif;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 4px;
}

#menuToggle {
    display: block;
    position: relative;
    top: 10px;
    left: 10px;  
    z-index: 1;  
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
         user-select: none;
}

#menuToggle a {
    text-decoration: none;
    color: #fff;
    float: right;
    margin-right: 10px;
}

#menuToggle a:hover {
    color: #000;
}

/* The hamburger button hidden inside an input element */
#menuToggle input {
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    top: -7px;
    left: -5px;  
    padding: 0;
    cursor: pointer;  
    opacity: 0; /* hide this */
    z-index: 2; /* and place it over the hamburger */  
    -webkit-touch-callout: none;
}

#menuToggle label {
    position: relative;
    display: block;
    width: 30px;
    height: 30px;
}

#menuToggle label span {
    display: none;
}

/* Hamburger layout */
#menuToggle label div {
    display: block;
    width: 30px;
    height: 2px;
    margin-bottom: 6px;
    position: relative;
    background: #fff;
    border-radius: 3px;  
    z-index: 1;  
    -webkit-transform-origin: 4px 0px;  
    -ms-transform-origin: 4px 0px;  
    transform-origin: 4px 0px;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#menuToggle label div:first-child {
    -webkit-transform-origin: 0% 100%;
    -ms-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
}
  
  #menuToggle label div:nth-child(2) {
    -webkit-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
}

/* Change the color of the hamburger when toggled */
#menuToggle input:checked + label div {
    background: #000;
}

/* Use absolute positioning to place the menu off-screen */
#menu{
    position: absolute;
    width: 100%;
    background: red;
    list-style-type: none;
    top: -8px;
    height:35px;
    /* Hide the menu off-screen to the left*/ 
    left: -200%;
    -webkit-transition: left 0.3s ease;
    -o-transition: left 0.3s ease;
    transition: left 0.3s ease;
}

#menu li {
    padding: 10px 0 0 0;
    font-size: 100%;
}
  
/* Slide the menu in from left when the input is checked */
#menuToggle input:checked ~ ul {
    left: -10px;
}

.active{
    border-bottom: 1px solid #fff;
}

.active:hover{
    border-color: #000;
}

/* Main image and text */
#main-img-outer{
    max-height: 500px;
    height: 50vw;
    position: relative;
    margin: 15px 0;
}

#main-img{
    height: 50vw;
    width: 100%;
    max-height: 500px;
    z-index: -1;
    border:1px solid rgba(255, 0, 0, 0.3);
    border-radius: 4px;
    box-sizing: border-box;
}

#main-text-container{
    width: 100%;
    bottom: 0px;
}

#main-text{
    background-color: rgba(255, 0, 0, .3);
    position:absolute;
    letter-spacing: 4px;
    font-family: Poppins, sans-serif; 
    font-size: 100%;
    bottom: 0;
    padding: 5px 10px;
    text-align: center;
    margin: 10px 5px 10px 5px;
}

#main-text span{
    color: red;
}

/* News */
#news-container{
    display:flex;
    flex-direction: column;
    border-top: 1px solid #f00;
    padding: 10px;
}

.news{
    display: flex;
    align-items: center;
    margin-top: 10px;
    padding: 0 5px 0 5px;
}

.news-text{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.news-img{
    width: 60%;
    height: 100%;
    max-height: 196px;
    max-width: 342px;
    margin-right: 5px;
    border-radius: 4px;
}

/* Upcoming videos */
#videos-container{
    display:flex;
    flex-direction: column;
    border-top: 1px solid #f00;
    border-bottom: 1px solid #f00;
    padding: 10px;
}

.video{
    margin-top: 10px;
    width: 100%;
    height: 50vh;
    border:1px solid rgba(255, 0, 0, 0.3);
    border-radius: 4px;
}

/* FOOTER */
footer{
    height: 100px;
}

/*social links */
.social-networks{
    text-align: center;
}

.social-networks > li{
    display: inline;
}

.social-networks i{
    font-size: 150%;
    margin: 5px;
    padding: 20px;
    color: #fff;
}

.social-networks a:hover i {
    transform: rotate(-10deg) scale(1.5);
    color: #f00;
}

/*form*/


/* back to top link */
.back-to-top{
    text-align: center;
    text-decoration: none;
    color: #fff;
}

.back-to-top:hover{
    color: #f00;
}

.back-to-top p{
    margin-bottom: 15px;
}

/* Reviews */
.review{
    display: flex;
    height: 100%;
    max-height: 250px;
    margin: 5px 0 5px 0; 
}

.review:first-of-type{
    border-top: 1px solid #f00;
    margin-top: 15px;
}

.review:last-of-type{
    border-bottom: 1px solid #f00;
}

.review-text{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.review-img{
    width: 50%;
    height: 100%;
    margin: 5px;
    border-radius: 4px;
    max-width: 385px;
    max-height: 220px;
}

.review-text a{
    text-decoration: underline;
}

.review-text a:hover{
    color: #f00;
}

.review-text h4{
    display: none;
}

.trailer-link{
    font-size: 70%;
    margin-top: 2px;
    color: #fff;
}

/* Upcoming Page*/
.month-container{
    border-top: 1px solid #f00;
    border-bottom: 1px solid #f00;
    padding: 10px;
}

.month-container:first-of-type{
    margin-top: 15px;
}

.month-container ul{
    padding: 0 0 0 25px;
    list-style:circle ;

}

.month-container li{
   line-height: 20px;
   padding: 5px 0 5px 0;
}

.break-img{
    height: 50vw;
    width: 100%;
    max-height: 500px;
    
}

/* Awards */
.trophy{
    position: fixed;
    z-index: -1;
    opacity: .3;
    top:25vh
}

.trophy-outer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.category-container{
    border-top: 1px solid #f00;
    border-bottom: 1px solid #f00;
    padding: 10px;
}

.category-container:first-of-type{
    margin-top: 15px;
}
.category{
    font-size: 100%;
    font-weight: bold;
    margin: 5px 0 10px 0;
    text-decoration: underline;
}

.category-container ul{
    padding: 0 0 0 25px;
    list-style:circle ;

}

.category-container li{
   line-height: 20px;
   padding: 5px 0 5px 0;
}

.winner{
    font-weight: bold;
    text-transform: uppercase;
}


/* TABLET (from 600 to 768px) */
@media screen and (min-width: 600px){
    /* Main image and text */
    #main-text{
        font-size: 150%;
    }

    /* Upcoming video */
    #videos-container{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    #videos-container>div{
        width: 100%;
    }

    #videos-container>div:first-of-type{
        margin-right: 10px;
    }

    /* Review */
    .review{
        padding: 0 10px;
    }
    .review h4{
        display: block;
        font-size: 70%;
        margin-top: 2px;
        padding: 5px 0;
    }

}

/*DESKTOP (from 769px) */
@media screen and (min-width:769px) {

    .subtitle{
        font-size: 200%;
    }

    .name{
        text-decoration: none;
        color: #fff;
        text-transform: capitalize;
        font-weight: bold;
        text-align: left;
        font-size: 1.2em;
        line-height: 130%;
    }
        
    .info{
        font-size: 1em;
        line-height: 130%;
        margin-top: 5px;
    }

    /*Header*/
    header{
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    #logo{        
        margin:30px 25px 25px 25px;
        padding: 15px 15px;
    }

    #menuToggle{
        display: flex;
        position: initial;
        text-align: center;
        font-size: 1.2em;
        text-transform: uppercase;
        letter-spacing: 2px;
        line-height:120%;
    }

    #menuToggle input{
        display:none;
    }

    #menuToggle label{
        display:none;
    }

    #menuToggle a{
        clear: both;
        color:#fff;
        margin: 10px 5px 5px 15px;
    }

    #menuToggle a:hover{
        color: red;
    }

    #menuToggle li{
        display: inline;
    }

    #menuToggle li:last-of-type{
        border: none;
    }

    #menu-bar{
        margin:30px 5px 25px 5px;
        padding: 15px 15px;
    }

    #menu{
        display: flex;
        position: relative;
        flex-direction: row-reverse;
        top: 0;
        left: 0;
        background-color: #000;
        font-size: 120%;
        align-items: center;
    }

    .active{
        border-bottom: 1px solid red;
    }

    .active:hover{
        border-bottom: 1px solid #fff;
    }

    /* Main image and text */
    #main-text{
        font-size: 200%;
    }

    /* News */
    #news-container{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }  
   
    /* Review */
    .game-name {
        font-size: 120%;
    }
    
    .review-text p{
        font-size: 100%;
    }

    .review h4 {
        font-size: 100%;
    }
    
    .trailer-link{
        font-size: 100%;
    }

    /* Upcoming page */
    .month{
        font-size: 120%;
    }

    /* Awards */
    .category{
        font-size: 120%;
    }
}
